/* 
    Document   : css
    Created on : 10/01/2015, 22:43:22
    Author     : Leonardo
    Description:
        Purpose of the stylesheet follows.
*/

 /* No aruivo css este é o conteúdo que mais nos interessa */
.fullheight {
  /*com isso o header ficará sempre com o tamanho da tela */
  height: 100vh;
  /*background geralmente uso o modo compacto, mas aqui vou colocar separadamente para explicar cada parte*/
  /* aqui defino a imagem maior*/
  background-image: url("../imagens/backgroung.png");
  /*deixa o background com efeito paralax*/
  background-attachment: fixed;
  /* cover é para nunca deixar espaço sem imagem*/
  background-size: cover;
   overflow:hidden;
}
/* aqui troco a imagem pra cada resolução na ordem do maior pro menor */
@media screen and (max-width: 1000px) {
  .header.fullheight {
    background-image: url("../imagens/fundo_login.png");
  }
}
@media screen and (max-width: 1366px) {
  .header.fullheight {
    background-image: url("../imagens/backgroung.png");
  }
}
@media screen and (max-width: 800px) {
  .header.fullheight {
    background-image: url("../imagens/wall1600x1200new.png");
  }
}
@media screen and (max-width: 600px) {
  .header.fullheight {
    background-image: url("../imagens/wall1600x1200new.png");
  }
}
@media screen and (max-width: 400px) {
  .header.fullheight {
    background-image: url("../imagens/wall1600x1200new.png");
  }
}
@media screen and (max-width: 320px) {
  .fullheight {
    background-image: url("../imagens/wall1600x1200new.png");
  }
}

body {
   /* overflow:hidden;*/
}

 .ui-selectonebutton{ 
    background: pink; 
}

.ui-layout-unit-top .ui-layout-bd { border: 0; }
.ui-layout-unit-left .ui-layout-bd { border: 0; }
.ui-layout-unit-center .ui-layout-bd { border: 0; }

.ui-layout-container {
    overflow-x:visible !important; overflow-y:visible !important;
}

.ui-button{
	border-radius: 15px;
	font: bold;
}

.datatable-header{
	background-color: none; 
	color:white;
}


.ui-panelgrid {
    border-width: 0px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
    border-top-left-radius:9px;
	border-top-right-radius:9px;
	border:0;
}


.panel-heading{
	padding:10px 15px;
	border-bottom:1px solid transparent;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	 border-radius: 15px;
	 border:0;
}
/*
.ui-tabs-left>.ui-tabs-nav {
    width: 13%;
    float: left;
}    */

.ui-layout-north .ui-layout-unit-content {   
   background-color: darkblue;
   color: white;
   
 }  

.ui-layout-unit-content{
   background: white;
}

.ui-widget {
	font-size: 12px !important;
}

.ie8 .ui-selectonemenu-08{
	width: 88% !important;
	background-color: #000000;
}

.ui-selectonemenu{
	width: 88% !important;
}

.colunaDireita{  
    text-align: left;  
}  
.colunaEsquerda{  
    text-align: right;    
}  

.icone-email{
    background-image: url(../imagens/email.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-cancel{
    background-image: url(../imagens/cancel-16.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}


.icone-check{
    background-image: url(../imagens/check-16.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-refresh{
    background-image: url(../imagens/btnRefreshDisplay.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-clear{
    background-image: url(../imagens/trash-16.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-add{
    background-image: url(../imagens/add-16.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-search{
    background-image: url(../imagens/search-16.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-pdf{
    background-image: url(../imagens/icon-pdf.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.icone-copy{
    background-image: url(../imagens/save.png) !important; background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    float:left;  
    margin-right: 8px;
    
}

.ui-inputfield {
    border-radius:9px;
}



